.
{
    width:0;
    padding:0;
    
}
.header
{
    background-color:ghostwhite;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    padding:10px;
    box-sizing:content-box;
}
.body
{
    background-color:rgb(137, 104, 158);
}
.logo
{
    display:inline-flex;
    padding:5px;
    margin-top: 5px;
}
.logo h3
{
    margin-left: 13px;
    margin-top:6px;
    font-family: "Averta",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.bar_image
{
    display:flex;
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
}
.search_row form
{
    display:flex;
    margin-left: 100px;
    margin-top: 6px;
}
.search_row form button
{
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
    padding:6px;
}
.search_row form input
{
    width: 500px;
    height:30px;
    border-radius: 8px;
}
.notification_button button
{
    display: flex;
    justify-content: right;
    margin-left:100px ;
    margin-top:5px;
    padding:5px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.search_row button:hover
{
    background-color: darkgray;
}
.notification_button button:hover
{
    background-color: darkgray;
}
.fifth
{
    display:inline-flex;
    animation-name: text;
    animation-duration:3s;
    font-family: "Averta",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.fifth img
{
    display: inline-flex;
    width:80px;
    height:80px;
    margin-left:10px;
}
@keyframes text
{
    from
    {
        margin-left: -300px;
    }
    to
    {
        margin-left: 0px;
    }
}
.teacher_container
{
    margin-top: 10px;
    padding:10px;
    height:1200px;
    width:100%;
    background-color:rgb(137, 104, 158); ;
    border-radius: 10px;
    padding: 10px;
}
.details_container
{
    display: flex;
    justify-content: center;
    height:100px;
    margin-top: 0px;
    border-radius: 10px;
}
.t
{
    display:flex;
    justify-content: center;
    animation-name:text;
    animation-duration: 3s;
    height:200px;
    width:600px;
    text-align: center;
    border-radius: 20px;
    background-color:aqua;
    border:2px solid black;
    font-family: "Averta",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.t img
{
    width:60px;
    height:60px;
}
.happy_ending
{
    background-color:rgb(112, 153, 199);
    border-radius: 10px;
    width:100%;
    height:110px;
    border-style:solid;
    font-family: "Averta",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.t:hover
{
    background-color:cornflowerblue;
}
.search_row input:hover
{
    background-color:darkgray;
}
.happy_ending  img
{
    display:inline-flex;
    width:30px;
    height:30px;
    margin-left:10px;
    margin-top: 10px;
}
.happy_ending  img:hover
{
    background-color:rgb(235, 234, 241);
    border-radius: 10px;;
}
